<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildEnvironment</key>
	<dict>
		<key>BuildDate</key>
		<string>Tue Oct 20 13:54:38 CST 2015</string>
		<key>BuildMachine</key>
		<dict>
			<key>Hostname</key>
			<string>bogon</string>
			<key>Model</key>
			<string>MacBookPro11,4</string>
			<key>Name</key>
			<string>QJ的MacBook Pro</string>
			<key>UUID</key>
			<string>017D89E3-E0C1-55B1-9BF6-1DC7FFFA1AEB</string>
		</dict>
		<key>BuildUser</key>
		<string>QJ (qj)</string>
		<key>GitRef</key>
		<string>27046f9a4414924a3d8053a33c554e940b637cb1</string>
		<key>GitUser</key>
		<string>gongtao (gongtao@quanjing.com)</string>
	</dict>
</dict>
</plist>
