<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildEnvironment</key>
	<dict>
		<key>BuildDate</key>
		<string>Wed Oct 21 10:39:40 CST 2015</string>
		<key>BuildMachine</key>
		<dict>
			<key>Hostname</key>
			<string>bogon</string>
			<key>Model</key>
			<string>MacBookPro11,2</string>
			<key>Name</key>
			<string>qj-app的MacBook Pro</string>
			<key>UUID</key>
			<string>E716967A-D654-5265-91CE-F1AA1C52A08A</string>
		</dict>
		<key>BuildUser</key>
		<string>qj-app (qj-app)</string>
		<key>GitRef</key>
		<string>eb9af1df7b943e423683209e4fa0ced7c5695432</string>
		<key>GitUser</key>
		<string>MrL (243971673@qq.com)</string>
	</dict>
</dict>
</plist>
